[Unit]
Description=Juiceshop App
Documentation=https://pwning.owasp-juice.shop/companion-guide/latest/
After=network.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/juice-shop
Restart=always

[Install]
WantedBy=multi-user.target